[Desktop Entry]
Type=Application
Name=SAM Schedule Kiosk
Exec=chromium --kiosk --noerrdialogs --disable-infobars --check-for-update-interval=31536000 http://127.0.0.1:8088/
X-GNOME-Autostart-enabled=true
